@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #f5f7f7;
    --color-background-pure: #ffffff;
    --color-text: #14151c;
    --color-primary: #085996;
    --color-secondary: #8ccbf5;
    --color-purple: #8637ec;
    --color-open-navbar: #cccdd1;
    --color-grey-rgb: 61, 61, 67;
    --color-grey-one: #e2e2e4;
    --color-grey-two: #cccdd1;
    --color-grey-three: #b7b8be;
    --color-grey-four: #a1a2aa;
    --color-grey-five: #8c8d97;
    --color-grey-six: #777883;
    --color-grey-seven: #63656e;
    --color-grey-eight: #505158;
    --color-grey-nine: #3d3d43;
    --color-grey-ten: #292a2e;

    /* font-size: 22px, viewport: 320px -> font-size: 39px, viewport: 1440px */
    --fs-heading1: clamp(1.375rem, 1.0713rem + 1.5186vw, 2.438rem);
    /* font-size: 20px, viewport: 320px -> font-size: 31px, viewport: 1440px */
    --fs-heading2: clamp(1.25rem, 1.0534rem + 0.9829vw, 1.938rem);
    /* font-size: 19px, viewport: 320px -> font-size: 25px, viewport: 1440px */
    --fs-heading3: clamp(1.188rem, 1.0811rem + 0.5343vw, 1.562rem);
    /* font-size: 18px, viewport: 320px -> font-size: 24px, viewport: 1440px */
    --fs-subheading: clamp(1.125rem, 1.018rem + 0.536vw, 1.5rem);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: #14151c;
      --color-background-pure: #000000;
      --color-text: #f5f7f7;
      --color-primary: #76baee;
      --color-secondary: #034470;
      --color-purple: #9e72fb;
      --color-open-navbar: #3d3d43;
      --color-grey-rgb: 204, 205, 209;
      --color-grey-one: #292a2e;
      --color-grey-two: #3d3d43;
      --color-grey-three: #505158;
      --color-grey-four: #63656e;
      --color-grey-five: #777883;
      --color-grey-six: #8c8d97;
      --color-grey-seven: #a1a2aa;
      --color-grey-eight: #b7b8be;
      --color-grey-nine: #cccdd1;
      --color-grey-ten: #e2e2e4;
    }
  }
  :root [data-theme="dark"] {
    color-scheme: dark;
    --color-background: #14151c;
    --color-background-pure: #000000;
    --color-text: #f5f7f7;
    --color-primary: #76baee;
    --color-secondary: #034470;
    --color-purple: #9e72fb;
    --color-open-navbar: #3d3d43;
    --color-grey-rgb: 204, 205, 209;
    --color-grey-one: #292a2e;
    --color-grey-two: #3d3d43;
    --color-grey-three: #505158;
    --color-grey-four: #63656e;
    --color-grey-five: #777883;
    --color-grey-six: #8c8d97;
    --color-grey-seven: #a1a2aa;
    --color-grey-eight: #b7b8be;
    --color-grey-nine: #cccdd1;
    --color-grey-ten: #e2e2e4;
  }
  :root [data-theme="light"] {
    color-scheme: light;
    --color-background: #f5f7f7;
    --color-background-pure: #ffffff;
    --color-text: #14151c;
    --color-primary: #085996;
    --color-secondary: #8ccbf5;
    --color-purple: #8637ec;
    --color-open-navbar: #cccdd1;
    --color-grey-rgb: 61, 61, 67;
    --color-grey-one: #e2e2e4;
    --color-grey-two: #cccdd1;
    --color-grey-three: #b7b8be;
    --color-grey-four: #a1a2aa;
    --color-grey-five: #8c8d97;
    --color-grey-six: #777883;
    --color-grey-seven: #63656e;
    --color-grey-eight: #505158;
    --color-grey-nine: #3d3d43;
    --color-grey-ten: #292a2e;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  button,
  div,
  span {
    @apply font-sans text-c-text;
  }
  h1,
  h2,
  h3 {
    @apply font-bold tracking-tighter;
  }
  h1 {
    @apply text-heading1;
  }
  h2 {
    @apply text-heading2;
  }
  h3 {
    @apply text-heading3;
  }
}

a {
  text-decoration: none;
}

body {
  @apply bg-c-background text-c-text;
}

#root {
  @apply flex min-h-screen flex-col justify-between;
}

*,
:before,
:after {
  @apply m-0 box-border p-0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Disable arrows on number input
Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
